<!DOCTYPE html>
<html lang="en-US">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-13/css/all.min.css"
    integrity="sha512-MdXcgiHaL1yFyNjJtThjw0XkwR8tcd1aDcewr+2/whtekkfCbr79HXBNVQB4x+cVZKwnVt1mm3fP1Amj0cGClw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="/assets/fonts/stylesheet.css" rel="stylesheet">
<script src="/assets/js/angular.min.js"></script>

<body class="bg-dark" ng-app="myApp">
    <div ng-controller="myCtrl">
        <div class="wrapper mx-auto">
            <div class="watchWrapper oveflow-hidden">
                <div class="watch">
                    <div class="screen px-2 py-3 text-center">
                        <div class="fs-1 "
                            style="color: #3ffb07; font-family: 'Digital-7'; font-weight: normal; font-style: normal;">
                            <label id="hours" style="width: 72px;" class="text-center">{{hours}}</label>:
                            <label id="minutes" style="width: 72px;" class="text-center">{{minutes}}</label>:
                            <label id="seconds" style="width: 72px;" class="text-center">{{seconds}}</label>
                        </div>
                    </div>
                </div>
                <div class="watch-buttons bg-light d-flex">
                    <button ng-click="counter()" class="btn btn-light border col-6">
                        <span ng-If="!play"><i class="fa fa-play mx-2" aria-hidden="true"></i>Play</span>
                        <span ng-If="play"><i class="fa fa-pause mx-2" aria-hidden="true"></i>Pause</span>
                    </button>

                    <button class="btn btn-light border col-3" ng-click="addTimeList()">
                        <i class="fa fa-stopwatch"></i></i>
                    </button>
                    <button class="btn btn-light border col-3" ng-click="clearTimelist()"><i class="fa fa-trash mx-2"
                            aria-hidden="true"></i></button>
                </div>
            </div>

            <div class="time-list-wrapper my-3 overflow-hidden bg-dark ">
                <div class="d-flex border-bottom py-2 align-items-center" ng-repeat="item in timeList track by $index">
                    <div class="col-6 fs-3 text-white"
                        style="font-family: 'Digital-7'; font-weight: normal; font-style: normal;">
                        <label>{{item.hours}}</label>:
                        <label>{{item.minutes}}</label>:
                        <label>{{item.seconds}}</label>
                    </div>
                    <div class="col-6 text-end delete"><button class="btn btn-danger btn-sm text-uppercase"
                            ng-click="removeTimelist($index)">Remove</button></div>
                </div>
            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <script>
        var myapp = angular.module("myApp", []);

        myapp.controller("myCtrl", function ($scope, $interval) {
            var interval;
            var now = Date.now();
            var getSeconds;
            var setTimeList
            $scope.totalSeconds = 0;
            $scope.seconds = '00';
            $scope.minutes = '00';
            $scope.hours = '00';
            $scope.play = false;
            $scope.timeList = JSON.parse(localStorage.getItem("timeList")) || [];
            var getTimeStamp = JSON.parse(localStorage.getItem("timeStamp"));



            $scope.pad = function (val) {
                var valString = val + "";
                if (valString.length < 2) {
                    return "0" + valString;
                } else {
                    return valString;
                }
            }

            $scope.updateStorage = function () {
                var timeStamp = {
                    seconds: $scope.seconds,
                    minutes: $scope.minutes,
                    hours: $scope.hours,
                    play: $scope.play,
                    setTimeStamp: Date.now()
                }
                localStorage.setItem("timeStamp", JSON.stringify(timeStamp));
            }

            $scope.setTime = function () {
                ++$scope.seconds;
                console.log('set time')
                $scope.seconds = $scope.pad(parseInt($scope.seconds));
                if ($scope.seconds == 59) {
                    $scope.seconds = $scope.pad(parseInt(00))
                    $scope.minutes++
                    $scope.minutes = $scope.pad(parseInt($scope.minutes));
                }
                if ($scope.minutes == 59) {
                    $scope.minutes = $scope.pad(parseInt(00))
                    $scope.hours++
                    $scope.hours = $scope.pad(parseInt($scope.hours));
                }
                $scope.updateStorage(); 

            }
            $scope.counter = function () {
                // //console.log('hello')
                // $scope.play
                let data = {
                    type: 'counter',
                    setdata: $scope.play
                }
                const channel = new BroadcastChannel('http://127.0.0.1:5500/');
                channel.postMessage(data);


            }

            $scope.setLocalData = function (getTimeStamp) {
                var counterSecounds = (parseInt(getTimeStamp.hours) * 60 * 60)
                    + (parseInt(getTimeStamp.minutes) * 60)
                    + parseInt(getTimeStamp.seconds);
                var time = Math.floor(now - getTimeStamp.setTimeStamp) / 1000;
                console.log('time diff', time, counterSecounds);
                var seconds = Math.floor((getTimeStamp.play ? (now - getTimeStamp.setTimeStamp) : 0) / 1000) + counterSecounds;
                var minutes = Math.floor(seconds / 60);
                var hours = Math.floor(minutes / 60);
                var days = Math.floor(hours / 24);

                hours = hours - (days * 24);
                minutes = minutes - (days * 24 * 60) - (hours * 60);
                seconds = seconds - (days * 24 * 60 * 60) - (hours * 60 * 60) - (minutes * 60);

                $scope.seconds = $scope.pad(seconds)
                $scope.minutes = $scope.pad(minutes)
                $scope.hours = $scope.pad(hours)
                getTimeStamp.play && $scope.counter();
            }

            $scope.init = function () {

                if (getTimeStamp !== null) {
                    let data = {
                        type: 'onInitCounter',
                        setdata: getTimeStamp
                    }
                    const channel = new BroadcastChannel('http://127.0.0.1:5500/');
                    channel.postMessage(data);
                } else {
                    $scope.seconds = '00';
                    $scope.minutes = '00';
                    $scope.hours = '00';
                }
            }

            $scope.addTimeList = function () {
                const data = {
                    seconds: $scope.seconds,
                    minutes: $scope.minutes,
                    hours: $scope.hours,
                }
                console.log('time', data)
                $scope.timeList.push(data)
                var timerData = JSON.stringify($scope.timeList);
                localStorage.setItem("timeList", timerData);
                let setData = {
                    type: 'addList',
                    setdata: $scope.timeList
                }
                const channel = new BroadcastChannel('http://127.0.0.1:5500/');
                channel.postMessage(setData);
            }

            $scope.removeTimelist = function (index) {
                $scope.timeList.splice(index, 1)
                var timerData = JSON.stringify($scope.timeList);
                localStorage.setItem("timeList", timerData);
                let data = {
                    type: 'removeList',
                    setdata: $scope.timeList
                }
                const channel = new BroadcastChannel('http://127.0.0.1:5500/');
                channel.postMessage(data);
            }

            $scope.clearTimelist = function () {
                $scope.timeList = [];
                $scope.play = false;
                $interval.cancel(interval);
                localStorage.removeItem("timeList");
                localStorage.removeItem("timeStamp");
                let data = {
                    type: 'clearList',
                    timelist: $scope.timeList,
                    timeStamp: $scope.timeList,
                    play: $scope.play,
                }
                const channel = new BroadcastChannel('http://127.0.0.1:5500/');
                channel.postMessage(data);
            }



            const channel = new BroadcastChannel('http://127.0.0.1:5500/');
            channel.addEventListener('message', (event) => {
                console.log('event.data.type', event.data.type)
                if (event.data.type == 'addList') {
                    console.log('addList', event.data.setdata);
                    $scope.timeList = event.data.setdata;
                    $scope.$apply();
                }

                if (event.data.type == 'removeList') {
                    console.log('removeList', event.data.setdata);
                    $scope.timeList = event.data.setdata;
                    $scope.$apply();
                }

                if (event.data.type == 'counter') {
                    $scope.play = event.data.setdata;
                    $scope.play = !$scope.play;
                    if ($scope.play) {
                        console.log('running')
                        interval = $interval(function () { $scope.setTime(); }, 1000);
                    } else {
                        console.log('stop interval')
                        $interval.cancel(interval);
                        $scope.updateStorage();
                        !$scope.play
                    }
                    console.log('counter', $scope.play)
                    $scope.$apply();
                }

                if (event.data.type == 'onInitCounter') {
                    $scope.setLocalData(event.data.setdata);
                    $scope.$apply();
                }


                if (event.data.type == 'clearList') {
                    //console.log('clearList', event.data.setdata);
                    $scope.timeList = event.data.timeList;
                    $scope.timeList = event.data.timeStamp;
                    $scope.play = event.data.play;
                    $scope.seconds = '00';
                    $interval.cancel(interval);
                    $scope.minutes = '00';
                    $scope.hours = '00';
                    $scope.$apply();
                }

            });
            $scope.init();
        });


    </script>
</body>

</html>